<div class="login-page grid grid-cols-[58%_42%] grid-rows-1 w-full">
  <div class="left-side flex items-center justify-center">
    <div class="">
      <div>
        <form class="bg-white shadow-md rounded px-6 pt-6 pb-8 mb-4 w-full">
          <div class="container flex justify-center mt-3 text-center">
            <img src="../../../assets/brij_logo2.svg" class="logo text-center" width="50" height="50">


          </div>
          <div class="container flex-col justify-center mt-6 pb-2 mb-4 text-center border-b-2 border-gray-300">
            <p class="font-bold text-2xl welcome">Welcome back 👋</p>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2 required" for="username">
              Email
            </label>
            <input class=" appearance-none border  w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="email" placeholder="Email">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2 required" for="password">
              Password
            </label>
            <input class=" appearance-none border w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
          </div>
          <div class="mb-5">
            <h6 class="forgot-password">Forgot Password</h6>
          </div>
          <div class="flex items-center justify-center">
            <button class=" signin flex items-center justify-center" type="button">
              <p><mat-icon>lock</mat-icon> Sign In</p>
            </button>

          </div>
          <div class="container text-center sign-up mt-3">
            <p class="text-center">
              Don't have an account? <span>Sign up</span>
            </p>
            <p class="text-center text-xl-3 font-bold">
              &copy; 2023 Brij
            </p>
          </div>
        </form>

      </div>

    </div>
  </div>
  <div class="right-side flex items-center justify-center px-10 pt-20">
   <div>
     <h3>
       Watch easily across Africa
     </h3>
     <p>
       All you need to make and accept payments globally, and grow your business beyond borders. Quick setup. Instant settlements. Secure ⚡.
     </p>
     <div class="container flex justify-center mt-2">
       <button class="learn-more">
         Learn More
       </button>
     </div>
     <img src="../../../assets/Group-55001.png" height="497" width="619" alt="Login Banner Image" >

   </div>
  </div>
</div>
