<div class="container grid grid-cols-3 gap-12 px-10 mt-3 ">
    <div *ngFor="let movie of movieList.results; let i = index" class="movie-card" >
      <div class="card-wrapper" (mouseover)="hoverCard=i" (mouseleave)="hoverCard=null">
        <img src="{{movie.primaryImage.url}}" >
        <div class="overlay overlay_1">
          <h6>
            {{movie.titleText.text | swahili}}
          </h6>
          <p>
            {{movie.titleType.text}}
          </p>
          <p class="year">
            {{movie.releaseYear.year}}
          </p>
          <button class="get-ticket" *ngIf="hoverCard===i">Get Ticket</button>
        </div>

      </div>
    </div>
</div>
